<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Title -->
    <title>Product Hunt</title>

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <nav class="navbar navbar-expand-sm bg-light">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img
              class="d-inline-block"
              src="{% static 'logo.png' %}"
              alt="logo's picture"
              style="width: 40px; height: 40px"
            />
            Product Hunt
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                <form id="logout" method="post" action="{% url 'logout' %}">
                  {% csrf_token %}
                  <input type="hidden">
                </form>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Body -->
    <div class="container">{% block content %} {% endblock %}</div>

    <!-- Footer -->
    <footer class="text-body-secondary py-5">
      <div class="container text-center">
        <p class="mb-1">&#169; Josué Zúñiga ({% now "Y" %})</p>
        <a
          href="https://www.flaticon.com/free-icons/letter-p"
          target="_blank"
          title="letter p icons"
          >Letter p icons created by Md Tanvirul Haque - Flaticon
        </a>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
